<home></home>
<div class="container-fluid">
    <form class="row" [formGroup]="formEndereco">
        <div class="col-md-4 ps-5 ">
            <div class="col-md-8 mb-3 pt-4">
                <label class="form-label">Nome Completo:</label>
                <input type="text" class="form-control form-control-sm" id="nome">
            </div>

            <div class="col-md-6 mb-2 pt-1">
                <label class="form-label">RG:</label>
                <input type="text" class="form-control form-control-sm" id="rg">
            </div>

            <div class="col-md-6 mb-2 pt-1">
                <label class="form-label">CEP:</label>
                <input type="text" class="form-control form-control-sm" id="cep" (blur)="pesquisaCep()" formControlName="cep">
            </div>

            <div class="col-md-8 mb-2 pt-1">
                <label class="form-label">Logradouro:</label>
                <input type="text" class="form-control form-control-sm" id="logradouro" formControlName="logradouro">
            </div>

            <div class="col-md-6 mb-2 pt-1">
                <label class="form-label">Bairro:</label>
                <input type="text" class="form-control form-control-sm" id="bairro" formControlName="bairro">
            </div>

            <div class="col-md-6 mb-2 pt-1">
                <label class="form-label">Localidade:</label>
                <input type="text" class="form-control form-control-sm" id="localidade" formControlName="localidade">
            </div>

            <div class="col-md-6 mb-2 pt-1">
                <label class="form-label">complemento</label>
                <input type="text" class="form-control form-control-sm" id="complemento" formControlName="complemento">
            </div>
        </div>

        <div class="col-md-4 ps-0 ms-0">
            <div class="col-md-4 pt-4 mb-3 pt-1">
                <label class="form-label">CPF:</label>
                <input type="text" class="form-control form-control-sm" id="cpf">
            </div>
            <div class="col-md-4 mb-3 pt-1">
                <label class="form-label">Telefone:</label>
                <input type="tel" class="form-control form-control-sm" id="telefone">
            </div>
        </div>

        <div class="col-md-4 ps-0 ms-0">
            <div class="col-md-4 pt-4 mb-3 pt-1">
                <label class="form-label">E-mail:</label>
                <input type="email" class="form-control form-control-sm" id="email">
            </div>
            <div class="col-md-4 mb-3 pt-1">
                <label class="form-label">Data Nascimento:</label>
                <input type="date" class="form-control form-control-sm" id="dataNascimento">
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 d-flex flex-row-reverse me-5">
                <button type="submit" class="btn btn-primary btn-sm btn btn-success mb-3 me-5" (click)="cadastrarSolicitante()" >Enviar</button>
                <button type="submit" class="btn btn-primary btn-sm btn btn-danger mb-3 me-3">Cancelar</button>
            </div>
        </div>
    </form>
</div>


