<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <h1 class="display-5">AGENDA SOCITY</h1>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-md-12 ">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="row pt-5">

                    <div class="col-md-12 d-flex justify-content-center">
                        <h1 class="display-8">Login</h1>
                    </div>
                    <div class="col-md-12 mt-4 d-flex justify-content-center">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">

                                <div class="col-sm-8">
                                    <label class="form-label">Usuário</label>
                                    <input type="text" class="form-control" id="usuario">
                                </div>
                            </div>

                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="col-sm-8">
                                    <label class="form-label pt-2">Senha</label>
                                    <input type="password" class="form-control" id="senha">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 d-flex justify-content-center pt-2">
                        <a class="fw-light me-3 pe-1"  role="button" (click)="goGestor()">Entrar</a>
                        <a class="fw-light ms-3 ps-1"  role="button" (click)="goGestor()">Cadastrar</a>
                        <!-- <button class="btn btn-primary" (click)="goGestor()">Entrar</button> -->
                        <!-- <button class="btn btn-primary ms-2" type="submit">Cadastrar</button> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>