<home></home>

<div class="container-fluid">
    <form class="row" [formGroup]="formQuadra">
        <div class="col-md-4 ps-5 ">
            <div class="col-md-6 mb-2 pt-4">
                <label class="form-label">Nome Ginásio/Quadra:</label>
                <input type="text" class="form-control form-control-sm" id="nomeQuadra" formControlName="nome">
            </div>

            <div class="col-md-6 mb-3 pt-2">
                <div class="col-md-12 mb-3 pt-2">
                <label class="form-label">Região Administrativa:</label>
                <input class="form-control form-control-sm" list="ListaRegiao" id="exampleDataList" placeholder="Selecione uma Região..." formControlName="ra">
                    <datalist id="ListaRegiao">
                    <option value="1">
                    <option value="2">
                    <option value="3">
                    <option value="4">
                    <option value="5">
                    </datalist>
            </div>

            <div class="col-md-10 mb-2 pt-2">
                <label class="form-label">Logradouro:</label>
                <input type="text" class="form-control form-control-sm" id="logradouro" formControlName="logradouro" >
            </div>

            <div class="col-md-10 mb-2 pt-2">
                <label class="form-label">Bairro:</label>
                <input type="text" class="form-control form-control-sm" id="Bairro" formControlName="bairro" >
            </div>


            <div class="col-md-10 mb-2 pt-2">
                <label class="form-label">Localidade:</label>
                <input type="text" class="form-control form-control-sm" id="localidade" formControlName="localidade" >
            </div>

            <div class="col-md-2 mb-2 pt-2">
                <label class="form-label">UF:</label>
                <input type="text" class="form-control form-control-sm"  maxlength="2" id="uf" formControlName="uf" >
            </div>

            </div>
        </div>

        <div class="col-md-2">
            <div class="col-md-8 mb-2 pt-4">
                <label class="form-label">capacidade:</label>
                <input type="text" class="form-control form-control-sm" id="qtdPessoas" formControlName="qtdPessoas">
            </div>

            <div class="col-md-8 mb-2 pt-2">
                <label class="form-label">CEP:</label>
                <input type="text" class="form-control form-control-sm" id="cep" formControlName="cep" (blur)="pesquisaCep()">
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-12 mb-2 pt-4 ">
                <label for="formFileLg" class="form-label">Enviar foto</label>
                <input class="form-control form-control-lg" id="foto" type="file">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 d-flex flex-row-reverse me-5">
                <button type="submit" class="btn btn-primary btn-sm btn btn-success mb-3 me-5">Enviar</button>
                <button type="submit" class="btn btn-primary btn-sm btn btn-danger mb-3 me-3">Cancelar</button>
            </div>
        </div>
    </form>
</div>